.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
	width: 75%;
	height: 30px;
	font-size: 24px;
}

.video-item img {
  max-width: 200px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	list-style-type: none;
	cursor: pointer;
	border: 1px solid #ddd;
}
.list-group-item:hover {
	background-color: #eee;
}

#videotitle {
	font-weight: bold;
}



